.projects{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}
.projects .projectsCards{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 30px;
}
@media (max-width: 992px) {
    .projects .projectsCards{
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
@media (max-width: 767px) {
    .projects .projectsCards{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 500px) {
    .projects .projectsCards{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
.projects .projectsCards .card{
    color: var(--text-color);
    transition: var(--main-transition);
    box-shadow: var(--sec-shadow);
}
.projects .projectsCards .card div{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    box-shadow: var(--main-shadow);
}
.projects .projectsCards .card div img,
.projects .projectsCards .card div video{
    height: 100%;
    object-fit: cover;
}
.projects .projectsCards .card div h3{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: #00000087;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: var(--main-transition);
}
.projects .projectsCards .card:hover div h3{
    background-color: var(--logo-color);
    color: #fff;
}
.projects .projectsCards .card p{
    font-size: 14px;
    color: var(--p-color);
    padding: 20px 0px;
    transition: var(--main-transition);
    text-align: center;
}
.projects .projectsCards .card:hover p{
}