  
.loading {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  z-index: 200;
  isolation: isolate;
  overflow: hidden;
  transition: var(--main-transition);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
  background-color: var(--bg-dark-color);
  perspective-origin: 1000px;
}
.loading.hide{
  /* height: 0; */
  display: none;
}
.loading.loaded{
  opacity: 0;
  transform: translateZ(2000px);
}
.loader{
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.loading .loader > div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  transition: var(--animation-transition);
  transition-duration: 0.2s;
}
@media (max-width: 767px) {
  .loading .loader > div{
    height: 200px;
    width: 200px;
  }
}
.loading.loaded .loader > div{
  /* transform: translateY(70px); */
  opacity: 0;
}
.loading.loaded .loader::before{
  opacity: 0;
}
.loader div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader div img{
  object-fit: contain;
}
.loading ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.loading ul li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  animation: dots 0.4s linear 0s infinite alternate;
}
.loading ul li:nth-child(2){
  animation: dots 0.4s linear 0.2s infinite alternate;
  background-color: var(--sec-color);
}
.loading ul li:nth-child(3){
  animation: dots 0.4s linear 0.4s infinite alternate;
  background-color: var(--bg-color);
}
@keyframes dots {
  100%{
    transform: translateY(-10px);
  }
}