.productsGrid .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    color: #fff;
    background-color: var(--sec-color);
    /* padding-left: 20px;
    padding-right: 20px; */
}
.productsGrid .filter > div{
    width: calc(100% / 4);
}
.productsGrid .filter input{
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}
.productsGrid .filter label{
    cursor: pointer;
    transition: var(--main-transition);
    transition-duration: 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.productsGrid .filter label .icon{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productsGrid .filter label svg,
.productsGrid .filter label img{
    color: #fff !important;
    stroke: #fff !important;
    fill: #fff !important;
    transition: var(--main-transition);
    transition-duration: 0.1s;
    font-size: 20px;
    height: 50px;
    width: 50px;
}
.productsGrid .filter label span{
    padding: 5px 10px;
    /* background-color: var(--sec-color); */
    width: 100%;
    text-align: center;
    /* border-bottom: 4px solid var(--logo-color); */
    transition: var(--main-transition);
    transition-duration: 0.1s;

}
.productsGrid .filter label:hover span,
.productsGrid .filter div:has(input:checked) label span{
    background-color: var(--bg-color);
    color: #000;
    /* border-bottom: 4px solid var(--sec-color); */
}
.productsGrid .filter label:hover svg,
.productsGrid .filter div:has(input:checked) label svg,
.productsGrid .filter label:hover img,
.productsGrid .filter div:has(input:checked) label img{
    height: 60px;   
    width: 60px; 
    color: var(--main-color);
}
@media (max-width: 767px) {
    .productsGrid .filter{
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 500px) {
    .productsGrid .filter{
        margin-right: auto;
        margin-left: auto;
    }
    /* .productsGrid .filter label{
        width: 60px;
    } */
}