.home{
  position: relative;
}
.home .logo{
  background-color: #0000001b;
  backdrop-filter: blur(20px);
  border: 1px solid var(--main-color);
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 20px;
  z-index: 3;
}
.home .parts{
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .part{
  height: 100%;
  width: 50%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
  isolation: isolate;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: red;
  transition: var(--main-transition);
}
.home .part::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home .part:nth-child(1){
  border-right: 1px solid #111;
  background-image: url("../../../public/imgs/chocolate-bg.jpg");
}
.home .part:nth-child(2){
  background-image: url("../../../public/imgs/engineering-solutions-bg.jpg");
}
@media (max-width: 767px) {
  .home .parts{
    flex-direction: column;
  }
  .home .part{
    width: 100%;
  }
  .home .part:nth-child(1){
    border: none;
    border-bottom: 1px solid #111;
  }
}
.home .part:hover{
  gap: 30px;
}
.home .part span{
  transition: var(--main-transition);
  font-size: 40px;
}
.home .part svg{
  transition: var(--main-transition);
  font-size: 60px;
}
.home .part:hover span{
  /* transform: translateY(-20px); */
  /* font-size: 44px; */
}
.home .part:hover svg{
  /* transform: translateY(-20px); */
  font-size: 84px;
}