
.subHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.subHeading span{
    background-color: var(--sec-color);
    color: #fff;
    padding: 5px 20px;
    /* font-size: 20px; */
}
.subHeading h3{
     background-color: var(--main-color);
    width: fit-content;
    padding: 5px 20px;
    color: #fff;
    text-transform: capitalize;
}
.productCards{
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
    border-bottom: 1px solid var(--sec-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding: 40px;
}
.productCards > a{ /* product card */
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: var(--main-transition);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #aaaaaa;
}
.productCards > a .cardImg{
    transition: var(--main-transition);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
}
.productCards > a .cardImg a{
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translate(-50%, -50%);
    /* background-color: var(--main-color); */
    color: #fff;
    text-decoration: none;
    z-index: 2;
    /* padding: 4px 20px; */
    transition: var(--animation-transition);
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
}
.productCards > a:hover .cardImg a{
    top: 50%;
}
.productCards > a .cardImg a svg{
    background-color: var(--main-color);
    padding: 10px;
    height: 20px;
    font-size: 12px;
    z-index: 2;
}
.productCards > a .cardImg a span{
    background-color: var(--logo-color);
    color: #000;
    padding: 5px 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sec-color);
    box-shadow: var(--main-shadow);
}
@media (max-width: 600px) {
    .subHeading{
        flex-direction: column;
    }
    .productCards > a .cardImg::before,
    .productCards > a:hover .cardImg::before{
        opacity: 0;
        z-index: -1;
    }
    .productCards > a .cardImg a,
    .productCards > a:hover .cardImg a{
        top: 80%;
        transform: translate(-50%, -50%) scale(0.7);

    }
    .productCards > a .cardImg a svg{
        height: 16px;
        font-size: 12px;
    }
    .productCards > a .cardImg a span{
        height: 25px;
        padding: 2px 10px;
        font-size: 14px;
    }
}
.productCards > a .cardImg img{
    transition: var(--main-transition);
    height: 100%;
    object-fit: contain;
}
.productCards > a:hover .cardImg img{
    transform: scale(1.1);
}
.productCards > a p,
.productCards .nameLink{
    width: 100%;
    text-align: center;
    background-image: var(--main-gradient);
    color: #fff;
    padding: 10px;
    /* box-shadow: var(--main-shadow), var(--sec-shadow); */
    /* box-shadow: var(--main-shadow), 3px 3px 0px 1px var(--main-color); */
    transition: var(--main-transition);
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    /* font-family: "Tajawal", sans-serif; */
    /* border-radius: 0px 0px 6px 6px; */
    /* box-shadow: var(--sec-shadow); */
}
.productCards > a:hover p,
.productCards > a:hover .nameLink{
    box-shadow: var(--main-shadow), var(--sec-shadow);
    background-color: var(--main-color);
}
.productCards > a .productDetails{
    background-color: #fff;
}
.productCards > a .productDetails ul{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
}
.productCards > a .productDetails ul li{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.productCards > a .productDetails ul li svg{
    font-size: 22px;
    color: var(--main-color);
}
.productCards > a .productDetails ul li span{
}
@media (max-width: 1200px) {
    .productCards{
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}
@media (max-width: 992px) {
    .productCards{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}
@media (max-width: 767px) {
    .productCards{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .productCards > a .cardImg{
        height: 170px;
    }
}
@media (max-width: 600px) {
    .productCards{
        row-gap: 30px;
        column-gap: 5px;
    }
    .productCards{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .productCards > a{
        margin-right: auto;
        margin-left: auto;
        /* display: flex; */
        /* align-items: center; */
        gap: 6px;
        width: 100%;
    }
    .productCards > a.odd{
        /* background-color: #ffeeff; */
    }
    .productCards > a .cardImg{
        background-color: var(--bg-color);
    }
    .productCards > a .cardImg img{
        object-fit: contain;
    }
    .productCards > a p,
    .productCards .nameLink{
        text-align: center;
        font-size: 14px;
        /* padding: 5px 7px; */
    }
}
